<p style="color: green"><%= notice %></p>

<h1><%= @movie.title %></h1>

<div class="movie-details">
  <p><strong>Rating:</strong> <%= @movie.rating %></p>
  <p><strong>Release Date:</strong> <%= @movie.release_date.strftime("%B %d, %Y") %></p>
  <p><strong>Description:</strong> <%= @movie.description %></p>
</div>

<div class="action-buttons">
  <%= link_to "Edit this movie", edit_movie_path(@movie), class: 'btn-edit' %> |
  <%= link_to "Back to movies", movies_path, class: 'btn-back' %>

  <%= button_to "Destroy this movie", @movie, method: :delete, class: 'btn-delete', data: { confirm: 'Are you sure?' } %>
</div>
